<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <span class="icon" onclick="toggleMenu()">&#9776;</span>
        <a href="{{ url_for('lecturer_dashboard') }}" class="icon">&#128100;</a>
        <!-- <a href="../mainScreens/login.html" class="icon">&#128100;</a> -->
    </header>
    <div class="login-container" style="justify-content: flex-start; padding-top: 100px;">
        <h1>Publications</h1>
        <div class="search-container" style="width: 500px;">
            <span style="font-weight: bold;">Search LECTURERRRRR...</span>
            <input type="text">
            <span>&#128269;</span>
        </div>
        <br>
        <button class="btn btn-blue" data-url="{{ url_for('search_results') }}" id="searchBtn">Search</button>
        <!-- <button class="btn btn-blue" onclick="navigateTo('../mainScreens/publicationresults.html')">Search</button> -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
     <!-- <script src="../../scripts/script.js"></script> -->
</body>
</html>