<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <span class="icon" onclick="navigateTo('../mainScreens/home.html')">&#8962;</span>
        <span class="header-title">Status</span>
        <div class="search-container">
            <input type="text" placeholder="Search">
        </div>
        <span class="icon">&#128100;</span>
    </header>
    <div style="padding: 10px;"><button class="filter-btn">Filter ></button></div>
    
    <div class="list-container">
        <div class="list-item">
            <div class="index">1.</div>
            <div class="front-page-placeholder">FRONT PAGE</div>
            <div class="item-details">
                <h3>Test Project 1</h3>
                <p>Author: Sanjeevan</p>
            </div>
            <div class="status-arrow st-approved">Approved</div>
        </div>
        
        <div class="list-item">
            <div class="index">2.</div>
            <div class="front-page-placeholder">FRONT PAGE</div>
            <div class="item-details">
                <h3>Test Project 2</h3>
                <p>Author: Harvind</p>
            </div>
            <div class="status-arrow st-review">Under Review</div>
        </div>

        <div class="list-item">
            <div class="index">3.</div>
            <div class="front-page-placeholder">FRONT PAGE</div>
            <div class="item-details">
                <h3>Test Project 3</h3>
                <p>Author: Vidhya</p>
            </div>
            <div class="status-arrow st-removed">Removed</div>
        </div>

        <div class="list-item">
            <div class="index">4.</div>
            <div class="front-page-placeholder">FRONT PAGE</div>
            <div class="item-details">
                <h3>Test Project 4</h3>
                <p>Author: Aizad</p>
            </div>
            <div class="status-arrow st-rejected">Rejected</div>
        </div>
    </div>
    <script src="../../scripts/script.js"></script>
</body>
</html>